---
const path = Astro.url.pathname;
---

<section class="pb-5 md:flex-1">
  <p>FEED CONTAINER for {path}</p>
  <p>FEED CONTAINER for {path}</p>
  <p>FEED CONTAINER for {path}</p>
  <p>FEED CONTAINER for {path}</p>
  <p>FEED CONTAINER for {path}</p>
  <p>FEED CONTAINER for {path}</p>
  <p>FEED CONTAINER for {path}</p>
  <p>FEED CONTAINER for {path}</p>
  <p>FEED CONTAINER for {path}</p>
  <p>FEED CONTAINER for {path}</p>
  <p>FEED CONTAINER for {path}</p>
  <p>FEED CONTAINER for {path}</p>
  <p>FEED CONTAINER for {path}</p>
  <p>FEED CONTAINER for {path}</p>
  <p>FEED CONTAINER for {path}</p>
  <p>FEED CONTAINER for {path}</p>
  <p>FEED CONTAINER for {path}</p>
  <p>FEED CONTAINER for {path}</p>
  <p>FEED CONTAINER for {path}</p>
  <p>FEED CONTAINER for {path}</p>
  <p>FEED CONTAINER for {path}</p>
  <p>FEED CONTAINER for {path}</p>
  <p>FEED CONTAINER for {path}</p>
  <p>FEED CONTAINER for {path}</p>
  <p>FEED CONTAINER for {path}</p>
  <p>FEED CONTAINER for {path}</p>
  <p>FEED CONTAINER for {path}</p>
  <p>FEED CONTAINER for {path}</p>
  <p>FEED CONTAINER for {path}</p>
  <p>FEED CONTAINER for {path}</p>
  <p>FEED CONTAINER for {path}</p>
  <p>FEED CONTAINER for {path}</p>
  <p>FEED CONTAINER for {path}</p>
  <p>FEED CONTAINER for {path}</p>
  <p>FEED CONTAINER for {path}</p>
  <p>FEED CONTAINER for {path}</p>
  <p>FEED CONTAINER for {path}</p>
  <p>FEED CONTAINER for {path}</p>
  <p>FEED CONTAINER for {path}</p>
  <p>FEED CONTAINER for {path}</p>
  <p>FEED CONTAINER for {path}</p>
  <p>FEED CONTAINER for {path}</p>
  <p>FEED CONTAINER for {path}</p>
  <p>FEED CONTAINER for {path}</p>
  <p>FEED CONTAINER for {path}</p>
  <p>FEED CONTAINER for {path}</p>
  <p>FEED CONTAINER for {path}</p>
  <p>FEED CONTAINER for {path}</p>
  <p>FEED CONTAINER for {path}</p>
  <p>FEED CONTAINER for {path}</p>
  <p>FEED CONTAINER for {path}</p>
  <p>FEED CONTAINER for {path}</p>
  <p>FEED CONTAINER for {path}</p>
  <p>FEED CONTAINER for {path}</p>
  <p>FEED CONTAINER for {path}</p>
  <p>FEED CONTAINER for {path}</p>
  <p>FEED CONTAINER for {path}</p>
  <p>FEED CONTAINER for {path}</p>
  <p>FEED CONTAINER for {path}</p>
  <p>FEED CONTAINER for {path}</p>
  <p>FEED CONTAINER for {path}</p>
  <p>FEED CONTAINER for {path}</p>
  <p>FEED CONTAINER for {path}</p>
  <p>FEED CONTAINER for {path}</p>
  <p>FEED CONTAINER for {path}</p>
  <p>FEED CONTAINER for {path}</p>
  <p>FEED CONTAINER for {path}</p>
  <p>FEED CONTAINER for {path}</p>
  <p>FEED CONTAINER for {path}</p>
  <p>FEED CONTAINER for {path}</p>
  <p>FEED CONTAINER for {path}</p>
  <p>FEED CONTAINER for {path}</p>
  <p>FEED CONTAINER for {path}</p>
  <p>FEED CONTAINER for {path}</p>
  <p>FEED CONTAINER for {path}</p>
  <p>FEED CONTAINER for {path}</p>
  <p>FEED CONTAINER for {path}</p>
  <p>FEED CONTAINER for {path}</p>
  <p>FEED CONTAINER for {path}</p>
  <p>FEED CONTAINER for {path}</p>
  <p>FEED CONTAINER for {path}</p>
  <p>FEED CONTAINER for {path}</p>
  <p>FEED CONTAINER for {path}</p>
  <p>FEED CONTAINER for {path}</p>
  <p>FEED CONTAINER for {path}</p>
  <p>FEED CONTAINER for {path}</p>
  <p>FEED CONTAINER for {path}</p>
  <p>FEED CONTAINER for {path}</p>
  <p>FEED CONTAINER for {path}</p>
  <p>FEED CONTAINER for {path}</p>
  <p>FEED CONTAINER for {path}</p>
  <p>FEED CONTAINER for {path}</p>
  <p>FEED CONTAINER for {path}</p>
  <p>FEED CONTAINER for {path}</p>
  <p>FEED CONTAINER for {path}</p>
  <p>FEED CONTAINER for {path}</p>
  <p>FEED CONTAINER for {path}</p>
  <p>FEED CONTAINER for {path}</p>
  <p>FEED CONTAINER for {path}</p>
  <p>FEED CONTAINER for {path}</p>
  <p>FEED CONTAINER for {path}</p>
</section>
