---
import "@styles/global.css";
// import { ClientRouter } from "astro:transitions";
import DotGrid from "@components/DotGrid.astro";
import Footer from "@components/Footer.astro";
import "@fontsource-variable/dm-sans";
import "@fontsource/dm-mono";
import "@fontsource/dm-serif-display";
import "@fontsource-variable/lora";
import { SEO } from "astro-seo";
import type { CollectionEntry } from "astro:content";
import { SITE_URL } from "@lib/consts";

interface Props {
  entry: CollectionEntry<"blog">;
}

const {
  entry: {
    data: { title, description },
    slug,
  },
} = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta name="darkreader-lock" />
    <title>{title} | Jack Hogan</title>
    <!-- <ClientRouter /> -->
    <SEO
      title={title}
      description={description}
      openGraph={{
        basic: {
          type: "website",
          title,
          image: `${SITE_URL}/blog/${slug}/og.png`,
        },
        optional: {
          description,
          locale: "en-US",
          siteName: "jackhogan.me",
        },
        image: {
          alt: `A blog post by Jack titled "${title}"`,
        },
      }}
      twitter={{
        title,
        description,
        image: `${SITE_URL}/blog/${slug}/og.png`,
        imageAlt: `A blog post by Jack titled "${title}"`,
        card: "summary_large_image",
        site: "jackhogan.me",
        creator: "Jack Hogan",
      }}
    />
  </head>
  <body
    class="bg-gray-50 dark:bg-gray-950 dark:text-gray-100 overflow-x-hidden"
  >
    <DotGrid />
    <!--
    This is a dumb fix that essentially creates a blur that is only the height of the screen.
    This fixes a safari rendering bug that would cause it to disappear if it was the height of the full div.
    -->
    <div
      class="fixed left-1/2 top-0 transform -translate-x-1/2 w-full max-w-3xl h-full backdrop-blur-lg z-[-1] pointer-events-none"
    >
    </div>
    <div
      id="root-content"
      class="selection:bg-theme flex flex-col items-center w-screen mb-4"
    >
      <div class="flex-1 w-full max-w-3xl">
        <div class="px-4 items-center md:w-11/12">
          <slot />
        </div>
        <Footer alwaysCenter={true} isBlog={true} />
      </div>
    </div>
  </body>
</html>
<style>
  @reference "@styles/global.css";
  body {
    text-wrap: pretty;
  }
</style>
